/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    containerOptions = "--bind ${projectDir}:${projectDir}"

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MINIBAR' {
        container = "oras://registry.forge.inrae.fr/sophia.marguerit/minibar/minibar:latest"
        //container = "/home/smarguerit/work/METAB/pipeline/singularity/MINIBAR.sif"
        
        ext.args = { [
            '-C',                                    // primer/ barcode mis en evidence 
            '-F',
            params.M ? "-M ${params.M}" : '',   
            params.e != null ? "-e ${params.e}" : '',
            params.e ? "-e ${params.e}" : '',
            params.E ? "-E ${params.E}" : '',     
            params.l ? "-l ${params.l}" : ''         
        ].join(' ') }

        publishDir = [
            path: { "${params.outdir}/minibar" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LOTUS3' {

        ext.args = { [
            params.forwardPrimer ? "-forwardPrimer ${params.forwardPrimer}" : '',        
            params.reversePrimer ? "-reversePrimer ${params.reversePrimer}" : '', 
            params.saveDemultiplex ? "-saveDemultiplex ${params.saveDemultiplex}" : '',     
            params.keepUnclassified ? "-keepUnclassified ${params.keepUnclassified}" : '',
            params.p ? "-p ${params.p}" : '',
            params.s ? "-s ${params.s}" : '',
            params.threads ? "-t ${params.threads}" : '',
            params.amplicon_type ? "-amplicon_type ${params.amplicon_type}" : '',
            params.tax_group ? "-tax_group ${params.tax_group}" : '',
            params.clustering ? "-cl ${params.clustering}" : '',
            params.taxAligner ? "-taxAligner ${params.taxAligner}" : '',              
            params.rdp_thr ? "-rdp_thr ${params.rdp_thr}" : '',        
            params.taxExcludeGrep ? "-taxExcludeGrep ${params.taxExcludeGrep}" : '', 
            params.LCA ? "-useBestBlastHitOnly  ${params.LCA}" : '',
            params.lca_cover ? "-LCA_cover ${params.lca_cover}" : '', 
            params.buildPhylo != null ? "-buildPhylo ${params.buildPhylo}" : '',
            params.readOverlap ? "-readOverlap ${params.readOverlap}" : ''                         
        ].join(' ') }

        publishDir = [
            path: { "${params.outdir}/lotus3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NEXTITS' {
        ext.args = { [
            params.nextits_its_region ? "--its_region ${params.nextits_its_region}" : '',
            params.nextits_itsx_tax ? "--ITSx_tax ${params.nextits_itsx_tax}" : ''
        ].join(' ') }

        ext.args2 = { [
            params.nextits_clustering_method ? "--clustering_method ${params.nextits_clustering_method}" : '',
            params.nextits_unoise ? "--unoise ${params.nextits_unoise}" : '',
            params.nextits_hp ? "--hp ${params.nextits_hp}" : ''
        ].join(' ') }
    }

    withName: /LOTUS3|LOTUS3_TAXO/ {
        container = "/home/smarguerit/work/METAB/pipeline/lotus3:3.03--hdfd78af_1"
    }

    withName: /REPORT|RESULT_TABLE/ {
        container = "oras://registry.forge.inrae.fr/sophia.marguerit/report_py_2_word/report_py_2_word:latest"

        publishDir = [
            path: { "${params.outdir}/result_table_final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
