/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MINIBAR' {
        ext.args = { [
            '-T',                                    // trimming 
            '-F',
            params.M ? "-M ${params.M}" : '',        
            params.e ? "-e ${params.e}" : '',
            params.E ? "-E ${params.E}" : '',     
            params.l ? "-l ${params.l}" : ''         
        ].join(' ') }

        publishDir = [
            path: { "${params.outdir}/minibar" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LOTUS3' {
        ext.args = { [
            params.forwardPrimer ? "-forwardPrimer ${params.forwardPrimer}" : '',        
            params.reversePrimer ? "-reversePrimer ${params.reversePrimer}" : '', 
            params.saveDeplutiplex ? "-saveDeplutiplex ${params.saveDeplutiplex}" : '',     
            params.keepUnclassified ? "-keepUnclassified ${params.keepUnclassified}" : '',
            params.p ? "-p ${params.p}" : '',
            params.s ? "-s ${params.s}" : '',
            params.threads ? "-t ${params.threads}" : '',
            params.amplicon_type ? "-amplicon_type ${params.amplicon_type}" : '',
            params.tax_group ? "-tax_group ${params.tax_group}" : '',
            params.clustering ? "-cl ${params.clustering}" : '',
            params.taxAligner ? "-taxAligner ${params.taxAligner}" : '',              
            params.rdp_thr ? "-rdp_thr ${params.rdp_thr}" : '',        
            params.taxExcludeGrep ? "-taxExcludeGrep ${params.taxExcludeGrep}" : '', 
            params.buildPhylo ? "-buildPhylo ${params.buildPhylo}" : '', 
            params.readOverlap ? "-readOverlap ${params.readOverlap}" : '',                         
        ].join(' ') }

        publishDir = [
            path: { "${params.outdir}/lotus3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
